# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Environments
.env
venv/
env/
ENV/

# MacOS
.DS_Store

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.py[cod]
